# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
.venv/
venv/
env/

# Environment variables / secrets
.env
.env.*
!.env.example

# Node
node_modules/
frontend/node_modules/

# Vite build
frontend/dist/
dist/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Python tools
.pytest_cache/
.mypy_cache/

# Logs
*.log

# Database files
*.db
*.sqlite
*.sqlite3

# Project ZIP backups
backend.zip
frontend.zip

# User uploaded images
backend/uploads/*